* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ebeae6 url(img/body_bg.png) top left repeat;
    position: relative;
}

div#shell {
    display: block;
    position: relative;
    margin: 100px auto;
    width: 318px;
    height: 318px;
}

div#shell {
    z-index: 1;
}

img#plax-logo {
    position: absolute;
    top: 51px;
    left: 55px;
    z-index: 5;
}

img#plax-sphere-1 {
    position: absolute;
    z-index: 6;
    top: 189px;
    left: -51px;
}

img#plax-sphere-2 {
    position: absolute;
    z-index: 3;
    top: 49px;
    left: 53px;
}

img#plax-sphere-3 {
    position: absolute;
    top: 35px;
    left: 282px;
    z-index: 1;
}
