@{
    var appUrl = @"app";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NancyApplicationApi</title>

	<style type="text/css">

		body {
			text-align: center;
		}

        body.div {
            border: 3px solid #933e3e;
        }
	</style>

</head>
<body>
    <div>
        <iframe src="@appUrl"></iframe>
    </div>
</body>
</html>
